@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");

:root {
	--navy: #222831;
	--grey: #eeeeee;
	--yellow: #f2b63f;
	--green: #44d230;
}

* {
	scroll-behavior: smooth;
	margin: 0;
}

body {
	font-family: "Poppins", Helvetica;
	background-color: var(--grey);
	overflow-x: hidden	;
	/* max-width: auto; */
}

/* Other */
::selection {
	background-color: black;
	color: var(--grey);
}

img, #name h2 {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	/* border-radius: 10px; */
	background-color: #f5f5f5;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
	/* border-radius: 10px; */
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #555;
}

/* Classes */
.sticky {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}

.container {
	margin: 0 60px;
}

.burger {
	display: none;
}

.hero {
	z-index: 100;
}

.reveal {
	transform: translateY(144px);
	opacity: 0;
	transition: 1s all ease;
}

.reveal.active {
	transform: translateY(0);
	opacity: 1;
}

.opa0 {
	opacity: 0;
	transition: 1s all ease;
}

.opa1 {
	opacity: 1;
}

.blur {
	backdrop-filter: blur(20px);
}

.green {
	color: var(--green);
}

.yellow {
	color: var(--yellow);
}

.navy {
	color: var(--navy);
}

.bg-navy {
	background: var(--navy);
}

.grey {
	color: var(--grey);
}

.back-yellow {
	background: var(--yellow);
}

/* Header */
#header {
	z-index: 999;
}

nav {
	z-index: 1;
	padding: 10px 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav a {
	text-decoration: none;
	font-weight: 700;
	color: var(--navy);
}

nav a:hover {
	color: var(--yellow);
	transition: 0.2s;
}

li,
ul,
p {
	display: inline;
}

nav p {
	font-size: 1.5em;
	font-weight: 700;
	color: var(--yellow);
}

ul {
	display: flex;
	gap: 66px;
}

#logo {
	display: flex;
	align-items: center;
}

#logo i {
	color: var(--green);
	text-align: center;
	font-size: 30px;
	margin-right: 40px;
}

/* Responsive Nav */
@media screen and (max-width: 767px) {
	nav p {
		font-size: 25px;
		white-space: nowrap;
	}

	#logo i {
		display: none;
	}

	nav ul {
		display: none;
	}

	nav{
		height: 80px;
	}
}

/* Home */
#home {
	height: 100vh;
	z-index: -1;
}

#home img {
	z-index: -1;
	margin-top: 0px;
	top: 30%;
	left: 30%;
	transform: translateY(-10%);
	width: 600px;
	height: 300px;
	position: absolute;
}

#home #name {
	color: var(--navy);
	position: absolute;
	top: 50%;
	left: 8%;
	transform: translateY(-50%);
}

#home #name h6 {
	font-size: 2em;
	font-weight: 600;
}

#home #name h2 {
	font-size: 4em;
	line-height: 80%;
	font-weight: 700;
	color: var(--yellow);
}

#home #name .typed {
	color: var(--green);
}

@media screen and (max-width: 767px) {
	#home {
		z-index: -1;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0;
	}

	#home img {
		position: static;
		max-width: 90%;
		height: auto;
		object-fit: contain;
		margin: 100px 0;
	}

	#home #name {
		margin-top: 100px;
		position: static;
	}

	#home #name h6 {
		font-size: 30px;
		font-weight: 600;
	}

	#home #name h2 {
		font-size: 50px;
		line-height: 80%;
		font-weight: 700;
		color: var(--yellow);
	}
}

/* About */
#about {
	height: 100vh;
	display: flex;
	/* align-items: center; */
	justify-content: space-around;
}

#about img {
	max-height: 400px;
	max-width: 425px;
}

#about .text {
	padding: 30px 60px;
	text-align: justify;
}

#about p {
	font-size: 17px;
	font-weight: 400;
}

@media screen and (max-width: 767px) {
	#about {
		height: auto;
		align-items: center;
		justify-content: space-around;
		flex-direction: column;
	}

	#about img {
		max-height: 400px;
		max-width: 425px;
	}

	#about .text {
		padding: 0;
		text-align: justify;
	}

	#about p {
		font-size: 17px;
	}

	#about div h1 {
		margin-top: 20px;
		text-align: center;
	}
}

/* Education */
#education {
	z-index: -1;
	height: 100vh;
	margin-left: 60px;
	margin-right: 60px;
	display: flex;
	justify-content: space-between;
}

#education h2 {
	padding-top: 200px;
	padding-bottom: 50px;
	font-size: 40px;
}

#education p {
	font-size: 19px;
}

#parallax {
	content: "";
	max-height: 100vh;
	padding-left: 70%;
	box-sizing: border-box;
	background-image: url("../img/informatika.jpeg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	opacity: 0.75;
}

.reveal {
	padding-right: 100px;
}

@media screen and (max-width: 767px) {
	#education {
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	#education h2 {
		padding-top: 100px;
		padding-bottom: 50px;
		font-size: 40px;
		text-align: center;
	}

	#education p {
		font-size: 19px;
	}

	#parallax {
		margin-top: 20px;
		max-width: 100%;
		height: auto;
		padding-left: 70%;
		height: 100vw;
	}

	.reveal {
		padding-right: 0;
	}
}

/* Experiecne & Organization */
#exporg {
	z-index: -1;
	height: 100vh;
	padding: 200px 60px 0 60px;
	display: flex;
}

#exporg h2 {
	font-size: 40px;
	width: fit-content;
}

#exporg .right {
	padding-left: 150px;
	width: 500px;
}

#exporg h4 {
	font-size: 20px;
}

#exporg h5,
p {
	font-size: 17px;
}

#exporg hr {
	color: var(--navy);
	border-top: 3px solid var(--navy);
	width: 30%;
	border-top-style: solid;
	border-left: none;
	border-right: none;
	border-bottom: none;
	color: var(--navy);
	border-color: var(--navy);
	padding-bottom: 10px;
}

@media screen and (max-width: 767px) {
	#exporg {
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 50px;
		margin-top: 50px;
		padding: 50px 60px 0 60px;
	}

	#exporg h2 {
		font-size: 40px;
		width: fit-content;
		margin-bottom: 50px;
	}

	#exporg .right {
		padding-left: 0;
		width: auto;
	}

	#exporg h4 {
		font-size: 20px;
	}

	#exporg h5,
	p {
		font-size: 17px;
	}

	#exporg hr {
		color: var(--navy);
		border-top: 3px solid var(--navy);
		width: 30%;
		border-top-style: solid;
		border-left: none;
		border-right: none;
		border-bottom: none;
		color: var(--navy);
		border-color: var(--navy);
		padding-bottom: 10px;
	}

	#exporg p {
		word-wrap: break-word;
	}

	#exporg div {
		margin-bottom: 30px;
	}
}

/* Contact */
#contact {
	height: 100vh;
	background-color: var(--navy);
	display: flex;
	flex-direction: column;
	align-items: center;
}

#contact h2 {
	color: var(--grey);
	font-size: 50px;
	/* padding-bottom: 50px; */
	padding-top: 150px;
}

#contact a {
	text-decoration: none;
	padding: 0 20px;
}

#contact-link {
	padding-top: 50px;
	display: flex;
}

#contact i {
	font-size: 50px;
}

.card {
	max-width: 23ch;
	text-align: center;
	background: var(--grey);
	color: var(--navy);
	padding: 1.5em;
	padding-block: 1.8em;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	transition: 0.3s cubic-bezier(0.6, 0.4, 0, 1), transform 0.15s ease;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

.card__body {
	color: #464853;
	line-height: 1.5em;
	font-size: 1em;
}

.card > :not(span) {
	transition: 0.3s cubic-bezier(0.6, 0.4, 0, 1);
}

.card > strong {
	display: block;
	font-size: 1.4rem;
	letter-spacing: -0.035em;
}

.card span {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--grey);
	border-radius: 5px;
	font-weight: bold;
	top: 100%;
	transition: all 0.3s cubic-bezier(0.6, 0.4, 0, 1);
}

.card:hover span {
	top: 0;
	font-size: 1.2em;
}

.card:hover {
	background: var(--yellow);
	filter: drop-shadow(0px 0px 10px var(--yellow));
}

.card:hover > div,
.card:hover > i,
.card:hover > strong {
	opacity: 0;
}

@media screen and (max-width: 767px) {
	#contact {
		height: 100vh;
		background-color: var(--navy);
		flex-direction: column;
	}

	#contact h2 {
		color: var(--grey);
		font-size: 50px;
		padding-top: 50px;
	}

	#contact a {
		text-decoration: none;
		padding: 10px 0;
	}

	#contact-link {
		padding-top: 20px;
		display: flex;
		flex-direction: column;
	}
}

/* Modal Under Construction */
.modal-wrapper {
	z-index: 999999;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	backdrop-filter: blur(5px);
	transition: all 0.25s ease-in-out;
}

.modal-wrapper.close {
	opacity: 0;
	visibility: hidden;
}

.modal {
	width: 600px;
	height: 400px;
	border-radius: 20px;
	display: flex;
	margin: 50% 0 0 -300px;
	position: relative;
	top: 50%;
	left: 50%;
	background: var(--navy);
	transition: all 0.5s ease-in-out;
	justify-content: center;
	align-items: center;
	margin-top: -200px;
	font-weight: 600;
}

.modal p {
	color: var(--grey);
}

.modal-wrapper.close .modal {
	margin-top: 200px;
	opacity: 0;
}

.btn-close {
	cursor: pointer;
	margin-top: 40px;
	background-color: var(--green);
	border: none;
	border-radius: 5px;
	width: 200px;
	padding: 14px;
	font-size: 16px;
	font-weight: 600;
	color: white;
	box-shadow: 0px 6px 18px -5px var(--green);
}

.content {
	padding: 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.content img {
	width: 82px;
	padding-bottom: 20px;
}

/* Undercounstruction until here */
