@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");

:root {
	--navy: #222831;
	--grey: #eeeeee;
	--yellow: #f2b63f;
	--green: #44d230;
}

* {
	scroll-behavior: smooth;
	margin: 0;
}

body {
	font-family: "Poppins", Helvetica;
	background-color: var(--grey);
}

img {
	max-width: 100%;
}

/* Other */
::selection {
	background-color: var(--navy);
	color: var(--grey);
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #555;
}

/* Class */
.sticky {
	position: sticky;
	top: 0;
}

.container {
	margin: 30px 60px;
}

.blur {
	backdrop-filter: blur(8px);
}

.green {
	color: var(--green);
}

.yellow {
	color: var(--yellow);
}

.navy {
	color: var(--navy);
}

.bg-navy {
	background: var(--navy);
}

.grey {
	color: var(--grey);
}

/* Header */
nav {
	z-index: 1;
	padding: 10px 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav a {
	text-decoration: none;
	font-weight: 700;
	color: var(--navy);
}

nav a:hover {
	color: var(--yellow);
}

li,
ul,
p {
	display: inline;
}

nav p {
	font-size: 1.5em;
	font-weight: 700;
	color: var(--yellow);
	margin-left: 80px;
}

nav p:before {
	content: "";
	display: block;
	width: 60px;
	height: 8px;
	background: var(--navy);
	left: 60px;
	top: 45%;
	position: absolute;
}

ul {
	display: flex;
	gap: 66px;
}

/* Home */
#home {
	position: relative;
	height: 100vh;
	z-index: -1;
}

#home img {
	z-index: -1;
	margin-top: 100px;
	max-height: 400px;
	position: relative;
	float: left;
}

#home p {
	color: var(--navy);
	position: absolute;
	z-index: -1;
	font-size: 4em;
	font-weight: 700;
	line-height: 95%;
	left: 530px;
	top: 180px;
}

/* About */
#about {
	height: 100vh;
	padding-top: 130px;
	padding-left: 100px;
	display: flex;
	flex-direction: row;
}

#about img {
	max-height: 400px;
	max-width: 425px;
}

#about .text {
	padding: 30px 60px;
}

#about p {
	font-size: 17px;
}

/* Education */
#education {
	height: 100vh;
	margin-left: 60px;
	margin-right: 60px;
	display: flex;
	justify-content: space-between;
}

#education h2 {
	padding-top: 200px;
	padding-bottom: 50px;
	font-size: 40px;
}

#education p {
	font-size: 19px;
}

#education img {
	height: 100%;
	float: right;
}

/* Experiecne & Organization */
#exporg {
	height: 100vh;
	padding: 200px 60px 0 60px;
	display: flex;
}

#exporg h2 {
	font-size: 40px;
	width: fit-content;
}

#exporg .right {
	padding-left: 150px;
	width: 500px;
}

#exporg h4 {
	font-size: 20px;
}

#exporg h5,
p {
	font-size: 17px;
}

#exporg hr {
	color: var(--navy);
	border-top: 3px solid var(--navy);
	width: 30%;
	border-top-style: solid;
	border-left: none;
	border-right: none;
	border-bottom: none;
	color: var(--navy);
	border-color: var(--navy);
	padding-bottom: 10px;
}

/* Contact */
#contact {
	height: 100vh;
	background-color: var(--navy);
	display: flex;
	flex-direction: column;
	align-items: center;
}

#contact h2 {
	color: var(--grey);
	font-size: 50px;
	/* padding-bottom: 50px; */
	padding-top: 80px;
}

#contact a {
	text-decoration: none;
	padding: 0 20px;
}

#contact-link {
	padding-top: 100px;
	display: flex;
}

#contact i{
	font-size: 50px;
}

.card {
	max-width: 23ch;
	text-align: center;
	background: var(--grey);
	color: var(--navy);
	padding: 1.5em;
	padding-block: 1.8em;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	transition: 0.3s cubic-bezier(0.6, 0.4, 0, 1), transform 0.15s ease;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

.card__body {
	color: #464853;
	line-height: 1.5em;
	font-size: 1em;
}

.card > :not(span) {
	transition: 0.3s cubic-bezier(0.6, 0.4, 0, 1);
}

.card > strong {
	display: block;
	font-size: 1.4rem;
	letter-spacing: -0.035em;
}

.card span {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--grey);
	border-radius: 5px;
	font-weight: bold;
	top: 100%;
	transition: all 0.3s cubic-bezier(0.6, 0.4, 0, 1);
}

.card:hover span {
	top: 0;
	font-size: 1.2em;
}

.card:hover {
	background: var(--yellow);
	filter: drop-shadow(0px 0px 10px var(--yellow));
}

.card:hover > div,
.card:hover > i,
.card:hover > strong {
	opacity: 0;
}
